{
  "swagger": "2.0",
  "info": {
    "title": "Credly",
    "description": "Credly hosts the largest and most-connected digital credential network. We help the world speak a common language of verified knowledge, skills, and abilities.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.credly.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/organizations/{organization_id}/badge_templates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "allow_duplicate_badges": {
                        "type": "boolean",
                        "description": "allow_duplicate_badges"
                      },
                      "cost": {
                        "type": "string",
                        "description": "cost"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "global_activity_url": {
                        "type": "string",
                        "description": "global_activity_url"
                      },
                      "level": {
                        "type": "string",
                        "description": "level"
                      },
                      "lock_badge_state": {
                        "type": "boolean",
                        "description": "lock_badge_state"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "state": {
                        "type": "string",
                        "description": "state"
                      },
                      "public": {
                        "type": "boolean",
                        "description": "public"
                      },
                      "badges_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "badges_count"
                      },
                      "recipient_type": {
                        "type": "string",
                        "description": "recipient_type"
                      },
                      "send_expiring_badge_notifications": {
                        "type": "boolean",
                        "description": "send_expiring_badge_notifications"
                      },
                      "show_badge_lmi": {
                        "type": "boolean",
                        "description": "show_badge_lmi"
                      },
                      "show_lmi_jobs": {
                        "type": "boolean",
                        "description": "show_lmi_jobs"
                      },
                      "show_skill_tag_links": {
                        "type": "boolean",
                        "description": "show_skill_tag_links"
                      },
                      "vanity_slug": {
                        "type": "string",
                        "description": "vanity_slug"
                      },
                      "record_to_blockchain": {
                        "type": "string",
                        "description": "record_to_blockchain"
                      },
                      "time_to_earn": {
                        "type": "string",
                        "description": "time_to_earn"
                      },
                      "type_category": {
                        "type": "string",
                        "description": "type_category"
                      },
                      "printing_disabled": {
                        "type": "boolean",
                        "description": "printing_disabled"
                      },
                      "visibility": {
                        "type": "string",
                        "description": "visibility"
                      },
                      "criteria_url_name": {
                        "type": "string",
                        "description": "criteria_url_name"
                      },
                      "criteria_url": {
                        "type": "string",
                        "description": "criteria_url"
                      },
                      "certification": {
                        "type": "boolean",
                        "description": "certification"
                      },
                      "state_updated_at": {
                        "type": "string",
                        "description": "state_updated_at"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "show_template_settings": {
                        "type": "boolean",
                        "description": "show_template_settings"
                      },
                      "get_issue_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "get_issue_count"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          }
                        },
                        "description": "image"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "image_url"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "enable_blockchain": {
                            "type": "boolean",
                            "description": "enable_blockchain"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          },
                          "vanity_url": {
                            "type": "string",
                            "description": "vanity_url"
                          },
                          "vanity_slug": {
                            "type": "string",
                            "description": "vanity_slug"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "verified"
                          },
                          "viewable": {
                            "type": "boolean",
                            "description": "viewable"
                          }
                        },
                        "description": "owner"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "url": {
                              "type": "string",
                              "description": "url"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            }
                          }
                        },
                        "description": "alignments"
                      },
                      "recommendations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "activity_url": {
                              "type": "string",
                              "description": "activity_url"
                            }
                          }
                        },
                        "description": "recommendations"
                      },
                      "required_badge_templates": {
                        "type": "array",
                        "items": {},
                        "description": "required_badge_templates"
                      },
                      "badge_template_activities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "activity_type": {
                              "type": "string",
                              "description": "activity_type"
                            },
                            "activity_url": {
                              "type": "string",
                              "description": "activity_url"
                            },
                            "required_badge_template_id": {
                              "type": "string",
                              "description": "required_badge_template_id"
                            },
                            "required_badge_template_name": {
                              "type": "string",
                              "description": "required_badge_template_name"
                            },
                            "required_badge_template_url": {
                              "type": "string",
                              "description": "required_badge_template_url"
                            }
                          }
                        },
                        "description": "badge_template_activities"
                      },
                      "skills": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "skills"
                      },
                      "reporting_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "reporting_tags"
                      }
                    }
                  },
                  "description": "data"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current_page"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_count"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_pages"
                    },
                    "per": {
                      "type": "integer",
                      "format": "int32",
                      "description": "per"
                    },
                    "previous_page_url": {
                      "type": "string",
                      "description": "previous_page_url"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "next_page_url"
                    }
                  },
                  "description": "metadata"
                }
              }
            }
          }
        },
        "summary": "Get badge templates",
        "description": "Get all badge templates for an organization.",
        "operationId": "BadgeTemplatesGet",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/organizations/{organization_id}/badge_templates/{badge_template_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "allow_duplicate_badges": {
                      "type": "boolean",
                      "description": "allow_duplicate_badges"
                    },
                    "cost": {
                      "type": "string",
                      "description": "cost"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "global_activity_url": {
                      "type": "string",
                      "description": "global_activity_url"
                    },
                    "level": {
                      "type": "string",
                      "description": "level"
                    },
                    "lock_badge_state": {
                      "type": "boolean",
                      "description": "lock_badge_state"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "public"
                    },
                    "badges_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "badges_count"
                    },
                    "recipient_type": {
                      "type": "string",
                      "description": "recipient_type"
                    },
                    "send_expiring_badge_notifications": {
                      "type": "boolean",
                      "description": "send_expiring_badge_notifications"
                    },
                    "show_badge_lmi": {
                      "type": "boolean",
                      "description": "show_badge_lmi"
                    },
                    "show_lmi_jobs": {
                      "type": "boolean",
                      "description": "show_lmi_jobs"
                    },
                    "show_skill_tag_links": {
                      "type": "boolean",
                      "description": "show_skill_tag_links"
                    },
                    "vanity_slug": {
                      "type": "string",
                      "description": "vanity_slug"
                    },
                    "record_to_blockchain": {
                      "type": "string",
                      "description": "record_to_blockchain"
                    },
                    "time_to_earn": {
                      "type": "string",
                      "description": "time_to_earn"
                    },
                    "type_category": {
                      "type": "string",
                      "description": "type_category"
                    },
                    "printing_disabled": {
                      "type": "boolean",
                      "description": "printing_disabled"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "visibility"
                    },
                    "criteria_url_name": {
                      "type": "string",
                      "description": "criteria_url_name"
                    },
                    "criteria_url": {
                      "type": "string",
                      "description": "criteria_url"
                    },
                    "certification": {
                      "type": "boolean",
                      "description": "certification"
                    },
                    "state_updated_at": {
                      "type": "string",
                      "description": "state_updated_at"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "updated_at"
                    },
                    "show_template_settings": {
                      "type": "boolean",
                      "description": "show_template_settings"
                    },
                    "get_issue_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "get_issue_count"
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "image"
                    },
                    "image_url": {
                      "type": "string",
                      "description": "image_url"
                    },
                    "url": {
                      "type": "string",
                      "description": "url"
                    },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "enable_blockchain": {
                          "type": "boolean",
                          "description": "enable_blockchain"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "vanity_url": {
                          "type": "string",
                          "description": "vanity_url"
                        },
                        "vanity_slug": {
                          "type": "string",
                          "description": "vanity_slug"
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "verified"
                        },
                        "viewable": {
                          "type": "boolean",
                          "description": "viewable"
                        }
                      },
                      "description": "owner"
                    },
                    "alignments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        }
                      },
                      "description": "alignments"
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "activity_url": {
                            "type": "string",
                            "description": "activity_url"
                          }
                        }
                      },
                      "description": "recommendations"
                    },
                    "required_badge_templates": {
                      "type": "array",
                      "items": {},
                      "description": "required_badge_templates"
                    },
                    "badge_template_activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "activity_type": {
                            "type": "string",
                            "description": "activity_type"
                          },
                          "activity_url": {
                            "type": "string",
                            "description": "activity_url"
                          },
                          "required_badge_template_id": {
                            "type": "string",
                            "description": "required_badge_template_id"
                          }
                        }
                      },
                      "description": "badge_template_activities"
                    },
                    "skills": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "skills"
                    },
                    "reporting_tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "reporting_tags"
                    },
                    "recommending_templates": {
                      "type": "array",
                      "items": {},
                      "description": "recommending_templates"
                    },
                    "criterion_for": {
                      "type": "array",
                      "items": {},
                      "description": "criterion_for"
                    }
                  },
                  "description": "data"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "metadata"
                }
              }
            }
          }
        },
        "summary": "Get a single badge template",
        "description": "Get a single badge template from an organization.",
        "operationId": "BadgeTemplateGetA",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "badge_template_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/organizations/{organization_id}/badges": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "first_name"
                          },
                          "middle_name": {
                            "type": "string",
                            "description": "middle_name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "last_name"
                          },
                          "current_position_name": {
                            "type": "string",
                            "description": "current_position_name"
                          },
                          "current_organization_name": {
                            "type": "string",
                            "description": "current_organization_name"
                          },
                          "confirmed": {
                            "type": "boolean",
                            "description": "confirmed"
                          },
                          "photo": {
                            "type": "string",
                            "description": "photo"
                          },
                          "photo_url": {
                            "type": "string",
                            "description": "photo_url"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          }
                        },
                        "description": "user"
                      },
                      "created_by": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          },
                          "vanity_url": {
                            "type": "string",
                            "description": "vanity_url"
                          },
                          "share_to_ziprecruiter": {
                            "type": "boolean",
                            "description": "share_to_ziprecruiter"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "verified"
                          }
                        },
                        "description": "created_by"
                      },
                      "issuer": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "string",
                            "description": "summary"
                          },
                          "entities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "label"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "description": "primary"
                                },
                                "entity": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "url"
                                    },
                                    "vanity_url": {
                                      "type": "string",
                                      "description": "vanity_url"
                                    },
                                    "share_to_ziprecruiter": {
                                      "type": "boolean",
                                      "description": "share_to_ziprecruiter"
                                    },
                                    "verified": {
                                      "type": "boolean",
                                      "description": "verified"
                                    }
                                  },
                                  "description": "entity"
                                }
                              }
                            },
                            "description": "entities"
                          }
                        },
                        "description": "issuer"
                      },
                      "printing_enabled": {
                        "type": "boolean",
                        "description": "printing_enabled"
                      },
                      "print_method": {
                        "type": "string",
                        "description": "print_method"
                      },
                      "badge_template": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "allow_duplicate_badges": {
                            "type": "boolean",
                            "description": "allow_duplicate_badges"
                          },
                          "cost": {
                            "type": "string",
                            "description": "cost"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "global_activity_url": {
                            "type": "string",
                            "description": "global_activity_url"
                          },
                          "level": {
                            "type": "string",
                            "description": "level"
                          },
                          "lock_badge_state": {
                            "type": "boolean",
                            "description": "lock_badge_state"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "public": {
                            "type": "boolean",
                            "description": "public"
                          },
                          "badges_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "badges_count"
                          },
                          "recipient_type": {
                            "type": "string",
                            "description": "recipient_type"
                          },
                          "send_expiring_badge_notifications": {
                            "type": "boolean",
                            "description": "send_expiring_badge_notifications"
                          },
                          "show_badge_lmi": {
                            "type": "boolean",
                            "description": "show_badge_lmi"
                          },
                          "show_lmi_jobs": {
                            "type": "boolean",
                            "description": "show_lmi_jobs"
                          },
                          "show_skill_tag_links": {
                            "type": "boolean",
                            "description": "show_skill_tag_links"
                          },
                          "vanity_slug": {
                            "type": "string",
                            "description": "vanity_slug"
                          },
                          "record_to_blockchain": {
                            "type": "string",
                            "description": "record_to_blockchain"
                          },
                          "time_to_earn": {
                            "type": "string",
                            "description": "time_to_earn"
                          },
                          "type_category": {
                            "type": "string",
                            "description": "type_category"
                          },
                          "printing_disabled": {
                            "type": "boolean",
                            "description": "printing_disabled"
                          },
                          "visibility": {
                            "type": "string",
                            "description": "visibility"
                          },
                          "criteria_url_name": {
                            "type": "string",
                            "description": "criteria_url_name"
                          },
                          "criteria_url": {
                            "type": "string",
                            "description": "criteria_url"
                          },
                          "certification": {
                            "type": "boolean",
                            "description": "certification"
                          },
                          "state_updated_at": {
                            "type": "string",
                            "description": "state_updated_at"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "created_at"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "updated_at"
                          },
                          "show_template_settings": {
                            "type": "boolean",
                            "description": "show_template_settings"
                          },
                          "get_issue_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "get_issue_count"
                          },
                          "image": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "url": {
                                "type": "string",
                                "description": "url"
                              }
                            },
                            "description": "image"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "image_url"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "enable_blockchain": {
                                "type": "boolean",
                                "description": "enable_blockchain"
                              },
                              "url": {
                                "type": "string",
                                "description": "url"
                              },
                              "vanity_url": {
                                "type": "string",
                                "description": "vanity_url"
                              },
                              "vanity_slug": {
                                "type": "string",
                                "description": "vanity_slug"
                              },
                              "verified": {
                                "type": "boolean",
                                "description": "verified"
                              },
                              "viewable": {
                                "type": "boolean",
                                "description": "viewable"
                              }
                            },
                            "description": "owner"
                          },
                          "alignments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "url"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "description"
                                }
                              }
                            },
                            "description": "alignments"
                          },
                          "recommendations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "title"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "activity_url": {
                                  "type": "string",
                                  "description": "activity_url"
                                }
                              }
                            },
                            "description": "recommendations"
                          },
                          "required_badge_templates": {
                            "type": "array",
                            "items": {},
                            "description": "required_badge_templates"
                          },
                          "badge_template_activities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "title"
                                },
                                "activity_type": {
                                  "type": "string",
                                  "description": "activity_type"
                                },
                                "activity_url": {
                                  "type": "string",
                                  "description": "activity_url"
                                },
                                "required_badge_template_id": {
                                  "type": "string",
                                  "description": "required_badge_template_id"
                                }
                              }
                            },
                            "description": "badge_template_activities"
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "skills"
                          }
                        },
                        "description": "badge_template"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "issued_to": {
                        "type": "string",
                        "description": "issued_to"
                      },
                      "issued_to_first_name": {
                        "type": "string",
                        "description": "issued_to_first_name"
                      },
                      "issued_to_middle_name": {
                        "type": "string",
                        "description": "issued_to_middle_name"
                      },
                      "issued_to_last_name": {
                        "type": "string",
                        "description": "issued_to_last_name"
                      },
                      "issuer_earner_id": {
                        "type": "string",
                        "description": "issuer_earner_id"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "public": {
                        "type": "boolean",
                        "description": "public"
                      },
                      "recipient_email": {
                        "type": "string",
                        "description": "recipient_email"
                      },
                      "replacement_badge_id": {
                        "type": "string",
                        "description": "replacement_badge_id"
                      },
                      "replaces_badge_id": {
                        "type": "string",
                        "description": "replaces_badge_id"
                      },
                      "revocation_reason": {
                        "type": "string",
                        "description": "revocation_reason"
                      },
                      "state": {
                        "type": "string",
                        "description": "state"
                      },
                      "suppress_badge_notification_email": {
                        "type": "boolean",
                        "description": "suppress_badge_notification_email"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "country": {
                        "type": "string",
                        "description": "country"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "country_code"
                      },
                      "state_or_province": {
                        "type": "string",
                        "description": "state_or_province"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "expires_at": {
                        "type": "string",
                        "description": "expires_at"
                      },
                      "expires_at_date": {
                        "type": "string",
                        "description": "expires_at_date"
                      },
                      "issued_at": {
                        "type": "string",
                        "description": "issued_at"
                      },
                      "issued_at_date": {
                        "type": "string",
                        "description": "issued_at_date"
                      },
                      "state_updated_at": {
                        "type": "string",
                        "description": "state_updated_at"
                      },
                      "is_private_badge": {
                        "type": "boolean",
                        "description": "is_private_badge"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          }
                        },
                        "description": "image"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "image_url"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            }
                          }
                        },
                        "description": "alignments"
                      },
                      "evidence": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "evidence"
                      },
                      "badge_url": {
                        "type": "string",
                        "description": "badge_url"
                      }
                    }
                  },
                  "description": "data"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current_page"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_count"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_pages"
                    },
                    "per": {
                      "type": "integer",
                      "format": "int32",
                      "description": "per"
                    },
                    "previous_page_url": {
                      "type": "string",
                      "description": "previous_page_url"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "next_page_url"
                    }
                  },
                  "description": "metadata"
                }
              }
            }
          }
        },
        "summary": "Get issued badges",
        "description": "Get all issued badges for an organization.",
        "operationId": "BadgeIssued",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {},
                      "description": "user"
                    },
                    "created_by": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "vanity_url": {
                          "type": "string",
                          "description": "vanity_url"
                        },
                        "share_to_ziprecruiter": {
                          "type": "boolean",
                          "description": "share_to_ziprecruiter"
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "verified"
                        }
                      },
                      "description": "created_by"
                    },
                    "issuer": {
                      "type": "object",
                      "properties": {
                        "summary": {
                          "type": "string",
                          "description": "summary"
                        },
                        "entities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "description": "label"
                              },
                              "primary": {
                                "type": "boolean",
                                "description": "primary"
                              },
                              "entity": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "url"
                                  },
                                  "vanity_url": {
                                    "type": "string",
                                    "description": "vanity_url"
                                  },
                                  "share_to_ziprecruiter": {
                                    "type": "boolean",
                                    "description": "share_to_ziprecruiter"
                                  },
                                  "verified": {
                                    "type": "boolean",
                                    "description": "verified"
                                  }
                                },
                                "description": "entity"
                              }
                            }
                          },
                          "description": "entities"
                        }
                      },
                      "description": "issuer"
                    },
                    "printing_enabled": {
                      "type": "boolean",
                      "description": "printing_enabled"
                    },
                    "print_method": {
                      "type": "string",
                      "description": "print_method"
                    },
                    "badge_template": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "allow_duplicate_badges": {
                          "type": "boolean",
                          "description": "allow_duplicate_badges"
                        },
                        "cost": {
                          "type": "string",
                          "description": "cost"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "global_activity_url": {
                          "type": "string",
                          "description": "global_activity_url"
                        },
                        "level": {
                          "type": "string",
                          "description": "level"
                        },
                        "lock_badge_state": {
                          "type": "boolean",
                          "description": "lock_badge_state"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "state": {
                          "type": "string",
                          "description": "state"
                        },
                        "public": {
                          "type": "boolean",
                          "description": "public"
                        },
                        "badges_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "badges_count"
                        },
                        "recipient_type": {
                          "type": "string",
                          "description": "recipient_type"
                        },
                        "send_expiring_badge_notifications": {
                          "type": "boolean",
                          "description": "send_expiring_badge_notifications"
                        },
                        "show_badge_lmi": {
                          "type": "boolean",
                          "description": "show_badge_lmi"
                        },
                        "show_lmi_jobs": {
                          "type": "boolean",
                          "description": "show_lmi_jobs"
                        },
                        "show_skill_tag_links": {
                          "type": "boolean",
                          "description": "show_skill_tag_links"
                        },
                        "vanity_slug": {
                          "type": "string",
                          "description": "vanity_slug"
                        },
                        "record_to_blockchain": {
                          "type": "string",
                          "description": "record_to_blockchain"
                        },
                        "time_to_earn": {
                          "type": "string",
                          "description": "time_to_earn"
                        },
                        "type_category": {
                          "type": "string",
                          "description": "type_category"
                        },
                        "printing_disabled": {
                          "type": "boolean",
                          "description": "printing_disabled"
                        },
                        "visibility": {
                          "type": "string",
                          "description": "visibility"
                        },
                        "criteria_url_name": {
                          "type": "string",
                          "description": "criteria_url_name"
                        },
                        "criteria_url": {
                          "type": "string",
                          "description": "criteria_url"
                        },
                        "certification": {
                          "type": "boolean",
                          "description": "certification"
                        },
                        "state_updated_at": {
                          "type": "string",
                          "description": "state_updated_at"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "created_at"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "updated_at"
                        },
                        "show_template_settings": {
                          "type": "boolean",
                          "description": "show_template_settings"
                        },
                        "get_issue_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "get_issue_count"
                        },
                        "image": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "url": {
                              "type": "string",
                              "description": "url"
                            }
                          },
                          "description": "image"
                        },
                        "image_url": {
                          "type": "string",
                          "description": "image_url"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "enable_blockchain": {
                              "type": "boolean",
                              "description": "enable_blockchain"
                            },
                            "url": {
                              "type": "string",
                              "description": "url"
                            },
                            "vanity_url": {
                              "type": "string",
                              "description": "vanity_url"
                            },
                            "vanity_slug": {
                              "type": "string",
                              "description": "vanity_slug"
                            },
                            "verified": {
                              "type": "boolean",
                              "description": "verified"
                            },
                            "viewable": {
                              "type": "boolean",
                              "description": "viewable"
                            }
                          },
                          "description": "owner"
                        },
                        "alignments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "url": {
                                "type": "string",
                                "description": "url"
                              },
                              "description": {
                                "type": "string",
                                "description": "description"
                              }
                            }
                          },
                          "description": "alignments"
                        },
                        "recommendations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "title": {
                                "type": "string",
                                "description": "title"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "activity_url": {
                                "type": "string",
                                "description": "activity_url"
                              }
                            }
                          },
                          "description": "recommendations"
                        },
                        "required_badge_templates": {
                          "type": "array",
                          "items": {},
                          "description": "required_badge_templates"
                        },
                        "badge_template_activities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "title": {
                                "type": "string",
                                "description": "title"
                              },
                              "activity_type": {
                                "type": "string",
                                "description": "activity_type"
                              },
                              "activity_url": {
                                "type": "string",
                                "description": "activity_url"
                              },
                              "required_badge_template_id": {
                                "type": "string",
                                "description": "required_badge_template_id"
                              }
                            }
                          },
                          "description": "badge_template_activities"
                        },
                        "skills": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "skills"
                        }
                      },
                      "description": "badge_template"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "issued_to": {
                      "type": "string",
                      "description": "issued_to"
                    },
                    "issued_to_first_name": {
                      "type": "string",
                      "description": "issued_to_first_name"
                    },
                    "issued_to_middle_name": {
                      "type": "string",
                      "description": "issued_to_middle_name"
                    },
                    "issued_to_last_name": {
                      "type": "string",
                      "description": "issued_to_last_name"
                    },
                    "issuer_earner_id": {
                      "type": "string",
                      "description": "issuer_earner_id"
                    },
                    "locale": {
                      "type": "string",
                      "description": "locale"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "public"
                    },
                    "recipient_email": {
                      "type": "string",
                      "description": "recipient_email"
                    },
                    "replacement_badge_id": {
                      "type": "string",
                      "description": "replacement_badge_id"
                    },
                    "replaces_badge_id": {
                      "type": "string",
                      "description": "replaces_badge_id"
                    },
                    "revocation_reason": {
                      "type": "string",
                      "description": "revocation_reason"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "suppress_badge_notification_email": {
                      "type": "boolean",
                      "description": "suppress_badge_notification_email"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "updated_at"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "country_code": {
                      "type": "string",
                      "description": "country_code"
                    },
                    "state_or_province": {
                      "type": "string",
                      "description": "state_or_province"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "expires_at": {
                      "type": "string",
                      "description": "expires_at"
                    },
                    "expires_at_date": {
                      "type": "string",
                      "description": "expires_at_date"
                    },
                    "issued_at": {
                      "type": "string",
                      "description": "issued_at"
                    },
                    "issued_at_date": {
                      "type": "string",
                      "description": "issued_at_date"
                    },
                    "state_updated_at": {
                      "type": "string",
                      "description": "state_updated_at"
                    },
                    "is_private_badge": {
                      "type": "boolean",
                      "description": "is_private_badge"
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "image"
                    },
                    "image_url": {
                      "type": "string",
                      "description": "image_url"
                    },
                    "alignments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        }
                      },
                      "description": "alignments"
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "description": "key"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "url"
                                }
                              }
                            },
                            "description": "values"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        }
                      },
                      "description": "evidence"
                    },
                    "accept_badge_url": {
                      "type": "string",
                      "description": "accept_badge_url"
                    }
                  },
                  "description": "data"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "metadata"
                }
              }
            }
          }
        },
        "summary": "Issue a badge",
        "description": "Issue a badge to an earner. Archived badge template cannot be used to issue new badges.",
        "operationId": "BadgeIssue",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "recipient_email": {
                  "type": "string",
                  "description": "recipient_email",
                  "title": ""
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                },
                "badge_template_id": {
                  "type": "string",
                  "description": "badge_template_id",
                  "title": ""
                },
                "issued_at": {
                  "type": "string",
                  "description": "issued_at",
                  "title": ""
                },
                "issued_to_first_name": {
                  "type": "string",
                  "description": "issued_to_first_name",
                  "title": ""
                },
                "issued_to_middle_name": {
                  "type": "string",
                  "description": "issued_to_middle_name",
                  "title": ""
                },
                "issued_to_last_name": {
                  "type": "string",
                  "description": "issued_to_last_name",
                  "title": ""
                },
                "expires_at": {
                  "type": "string",
                  "description": "expires_at"
                },
                "issuer_earner_id": {
                  "type": "string",
                  "description": "issuer_earner_id"
                },
                "locale": {
                  "type": "string",
                  "description": "locale"
                },
                "country_name": {
                  "type": "string",
                  "description": "country_name"
                },
                "state_or_province": {
                  "type": "string",
                  "description": "state_or_province"
                },
                "suppress_badge_notification_email": {
                  "type": "boolean",
                  "description": "suppress_badge_notification_email"
                },
                "evidence": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "key": {
                              "type": "string",
                              "description": "key"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "url": {
                              "type": "string",
                              "description": "url"
                            }
                          }
                        },
                        "description": "values"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "evidence"
                }
              },
              "required": [
                "recipient_email",
                "issued_to_first_name",
                "issued_to_last_name",
                "badge_template_id",
                "issued_at"
              ]
            }
          }
        ]
      }
    },
    "/organizations/{organization_id}/high_volume_issued_badge_search": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get badges in bulk",
        "description": "Get all badges for an organization in bulk.",
        "operationId": "BadgeGetBulk",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "badge_format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/organizations/{organization_id}/badges/{badge_id}/replace": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "first_name"
                        },
                        "middle_name": {
                          "type": "string",
                          "description": "middle_name"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "last_name"
                        },
                        "current_position_name": {
                          "type": "string",
                          "description": "current_position_name"
                        },
                        "current_organization_name": {
                          "type": "string",
                          "description": "current_organization_name"
                        },
                        "confirmed": {
                          "type": "boolean",
                          "description": "confirmed"
                        },
                        "photo": {
                          "type": "string",
                          "description": "photo"
                        },
                        "photo_url": {
                          "type": "string",
                          "description": "photo_url"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "user"
                    },
                    "created_by": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "vanity_url": {
                          "type": "string",
                          "description": "vanity_url"
                        },
                        "share_to_ziprecruiter": {
                          "type": "boolean",
                          "description": "share_to_ziprecruiter"
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "verified"
                        }
                      },
                      "description": "created_by"
                    },
                    "issuer": {
                      "type": "object",
                      "properties": {
                        "summary": {
                          "type": "string",
                          "description": "summary"
                        },
                        "entities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "description": "label"
                              },
                              "primary": {
                                "type": "boolean",
                                "description": "primary"
                              },
                              "entity": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "url"
                                  },
                                  "vanity_url": {
                                    "type": "string",
                                    "description": "vanity_url"
                                  },
                                  "share_to_ziprecruiter": {
                                    "type": "boolean",
                                    "description": "share_to_ziprecruiter"
                                  },
                                  "verified": {
                                    "type": "boolean",
                                    "description": "verified"
                                  }
                                },
                                "description": "entity"
                              }
                            }
                          },
                          "description": "entities"
                        }
                      },
                      "description": "issuer"
                    },
                    "printing_enabled": {
                      "type": "boolean",
                      "description": "printing_enabled"
                    },
                    "print_method": {
                      "type": "string",
                      "description": "print_method"
                    },
                    "badge_template": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "allow_duplicate_badges": {
                          "type": "boolean",
                          "description": "allow_duplicate_badges"
                        },
                        "cost": {
                          "type": "string",
                          "description": "cost"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "global_activity_url": {
                          "type": "string",
                          "description": "global_activity_url"
                        },
                        "level": {
                          "type": "string",
                          "description": "level"
                        },
                        "lock_badge_state": {
                          "type": "boolean",
                          "description": "lock_badge_state"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "state": {
                          "type": "string",
                          "description": "state"
                        },
                        "public": {
                          "type": "boolean",
                          "description": "public"
                        },
                        "badges_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "badges_count"
                        },
                        "recipient_type": {
                          "type": "string",
                          "description": "recipient_type"
                        },
                        "send_expiring_badge_notifications": {
                          "type": "boolean",
                          "description": "send_expiring_badge_notifications"
                        },
                        "show_badge_lmi": {
                          "type": "boolean",
                          "description": "show_badge_lmi"
                        },
                        "show_lmi_jobs": {
                          "type": "boolean",
                          "description": "show_lmi_jobs"
                        },
                        "show_skill_tag_links": {
                          "type": "boolean",
                          "description": "show_skill_tag_links"
                        },
                        "vanity_slug": {
                          "type": "string",
                          "description": "vanity_slug"
                        },
                        "record_to_blockchain": {
                          "type": "string",
                          "description": "record_to_blockchain"
[...]
