{
  "swagger": "2.0",
  "info": {
    "title": "Credly",
    "description": "Credly hosts the largest and most-connected digital credential network. We help the world speak a common language of verified knowledge, skills, and abilities.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.credly.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": [],
  "paths": {
    "/organizations/{organization_id}/badge_templates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "allow_duplicate_badges": {
                        "type": "boolean",
                        "description": "Whether to allow duplicate badges.",
                        "title": "Allow Duplicate Badges"
                      },
                      "cost": {
                        "type": "string",
                        "description": "The cost.",
                        "title": "Cost"
                      },
                      "title": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "global_activity_url": {
                        "type": "string",
                        "description": "The URL address of the global activity.",
                        "title": "Global Activity URL"
                      },
                      "level": {
                        "type": "string",
                        "description": "The level.",
                        "title": "Level"
                      },
                      "lock_badge_state": {
                        "type": "boolean",
                        "description": "Whether badge state is locked.",
                        "title": "Lock Badge State"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "public": {
                        "type": "boolean",
                        "description": "Whether public.",
                        "title": "Public"
                      },
                      "badges_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The badges count.",
                        "title": "Badges Count"
                      },
                      "recipient_type": {
                        "type": "string",
                        "description": "The recipient type.",
                        "title": "Recipient Type"
                      },
                      "send_expiring_badge_notifications": {
                        "type": "boolean",
                        "description": "Whether to send expiring badge notifications.",
                        "title": "Send Expiring Badge Notifications"
                      },
                      "show_badge_lmi": {
                        "type": "boolean",
                        "description": "Whether to show badge LMI.",
                        "title": "Show Badge LMI"
                      },
                      "show_lmi_jobs": {
                        "type": "boolean",
                        "description": "Whether to show LMI jobs.",
                        "title": "Show LMI Jobs"
                      },
                      "show_skill_tag_links": {
                        "type": "boolean",
                        "description": "Whether to show skill tag links.",
                        "title": "Show Skill Tag Links"
                      },
                      "vanity_slug": {
                        "type": "string",
                        "description": "The vanity slug.",
                        "title": "Vanity Slug"
                      },
                      "record_to_blockchain": {
                        "type": "string",
                        "description": "To record to blockchain.",
                        "title": "Record To Blockchain"
                      },
                      "time_to_earn": {
                        "type": "string",
                        "description": "The time to earn.",
                        "title": "Time To Earn"
                      },
                      "type_category": {
                        "type": "string",
                        "description": "The category type.",
                        "title": "Type Category"
                      },
                      "printing_disabled": {
                        "type": "boolean",
                        "description": "Whether printing is disabled.",
                        "title": "Printing Disabled"
                      },
                      "visibility": {
                        "type": "string",
                        "description": "The visibility.",
                        "title": "Visibility"
                      },
                      "criteria_url_name": {
                        "type": "string",
                        "description": "The criteria URL name.",
                        "title": "Criteria URL Name"
                      },
                      "criteria_url": {
                        "type": "string",
                        "description": "The URL address of the criteria.",
                        "title": "Criteria URL"
                      },
                      "certification": {
                        "type": "boolean",
                        "description": "Whether certification.",
                        "title": "Certification"
                      },
                      "state_updated_at": {
                        "type": "string",
                        "description": "The state updated at.",
                        "title": "State Updated At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "show_template_settings": {
                        "type": "boolean",
                        "description": "Whether to show template settings.",
                        "title": "Show Template Settings"
                      },
                      "get_issue_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The issue count.",
                        "title": "Issue Count"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        },
                        "title": "Image"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "The image URL address.",
                        "title": "Image URL"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "enable_blockchain": {
                            "type": "boolean",
                            "description": "Whether blockchain enabled.",
                            "title": "Enable Blockchain"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "vanity_url": {
                            "type": "string",
                            "description": "The vanity URL.",
                            "title": "Vanity URL"
                          },
                          "vanity_slug": {
                            "type": "string",
                            "description": "The vanity slug.",
                            "title": "Vanity Slug"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "Whether verified.",
                            "title": "Verified"
                          },
                          "viewable": {
                            "type": "boolean",
                            "description": "Whether viewable.",
                            "title": "Viewable"
                          }
                        },
                        "title": "Owner"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            },
                            "title": {
                              "type": "string",
                              "description": "The description.",
                              "title": "Description"
                            }
                          }
                        },
                        "title": "Alignments"
                      },
                      "recommendations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "activity_url": {
                              "type": "string",
                              "description": "The activity URL.",
                              "title": "Activity URL"
                            }
                          }
                        },
                        "title": "Recommendations"
                      },
                      "required_badge_templates": {
                        "type": "array",
                        "items": {},
                        "description": "The required badge templates.",
                        "title": "Required Badge Templates"
                      },
                      "badge_template_activities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "activity_type": {
                              "type": "string",
                              "description": "The activity type.",
                              "title": "Activity Type"
                            },
                            "activity_url": {
                              "type": "string",
                              "description": "The activity URL.",
                              "title": "Activity URL"
                            },
                            "required_badge_template_id": {
                              "type": "string",
                              "description": "The identifier of the required badge template.",
                              "title": "Required Badge Template ID"
                            },
                            "required_badge_template_name": {
                              "type": "string",
                              "description": "The name of the required badge template.",
                              "title": "Required Badge Template Name"
                            },
                            "required_badge_template_url": {
                              "type": "string",
                              "description": "The URL of the required badge template.",
                              "title": "Required Badge Template URL"
                            }
                          }
                        },
                        "title": "Badge Template Activities"
                      },
                      "skills": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The skills.",
                        "title": "Skills"
                      },
                      "reporting_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The reporting tags.",
                        "title": "Reporting Tags"
                      }
                    }
                  },
                  "title": "Data"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total count.",
                      "title": "Total Count"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total pages.",
                      "title": "Total Pages"
                    },
                    "per": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Per.",
                      "title": "Per"
                    },
                    "previous_page_url": {
                      "type": "string",
                      "description": "The URL of the previous page.",
                      "title": "Previous Page URL"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The URL of the next page.",
                      "title": "Next Page URL"
                    }
                  },
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Get badge templates",
        "description": "Get all badge templates for an organization.",
        "operationId": "BadgeTemplatesGet",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "x-ms-summary": "Organization ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the organization.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/organizations/{organization_id}/badge_templates/{badge_template_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "allow_duplicate_badges": {
                      "type": "boolean",
                      "description": "Whether to allow duplicate badges.",
                      "title": "Allow Duplicate Badges"
                    },
                    "cost": {
                      "type": "string",
                      "description": "The cost.",
                      "title": "Cost"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "global_activity_url": {
                      "type": "string",
                      "description": "The URL of the global activity.",
                      "title": "Global Activity URL"
                    },
                    "level": {
                      "type": "string",
                      "description": "The level.",
                      "title": "Level"
                    },
                    "lock_badge_state": {
                      "type": "boolean",
                      "description": "The lock badge state.",
                      "title": "Lock Badge State"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "Whether public.",
                      "title": "Public"
                    },
                    "badges_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The badges count.",
                      "title": "Badges Count"
                    },
                    "recipient_type": {
                      "type": "string",
                      "description": "The recipient type.",
                      "title": "Recipient Type"
                    },
                    "send_expiring_badge_notifications": {
                      "type": "boolean",
                      "description": "Whether to send expiring badge notifications.",
                      "title": "Send Expiring Badge Notifications"
                    },
                    "show_badge_lmi": {
                      "type": "boolean",
                      "description": "Whether to show badge LMI.",
                      "title": "Show Badge LMI"
                    },
                    "show_lmi_jobs": {
                      "type": "boolean",
                      "description": "Whether to show the LMI jobs.",
                      "title": "Show LMI Jobs"
                    },
                    "show_skill_tag_links": {
                      "type": "boolean",
                      "description": "Whether to show skill tag links.",
                      "title": "Show Skill Tag Links"
                    },
                    "vanity_slug": {
                      "type": "string",
                      "description": "The vanity slug.",
                      "title": "Vanity Slug"
                    },
                    "record_to_blockchain": {
                      "type": "string",
                      "description": "The record to blockchain.",
                      "title": "Record To Blockchain"
                    },
                    "time_to_earn": {
                      "type": "string",
                      "description": "The time to earn.",
                      "title": "Time To Earn"
                    },
                    "type_category": {
                      "type": "string",
                      "description": "The type category.",
                      "title": "Type Category"
                    },
                    "printing_disabled": {
                      "type": "boolean",
                      "description": "Whether printing is disabled.",
                      "title": "Printing Disabled"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "The visibility.",
                      "title": "Visibility"
                    },
                    "criteria_url_name": {
                      "type": "string",
                      "description": "The criteria URL name.",
                      "title": "Criteria URL Name"
                    },
                    "criteria_url": {
                      "type": "string",
                      "description": "The criteria URL.",
                      "title": "Criteria URL"
                    },
                    "certification": {
                      "type": "boolean",
                      "description": "Whether certification.",
                      "title": "Certification"
                    },
                    "state_updated_at": {
                      "type": "string",
                      "description": "The state update at.",
                      "title": "State Updated At"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "show_template_settings": {
                      "type": "boolean",
                      "description": "Whether to show template settings.",
                      "title": "Show Template Settings"
                    },
                    "get_issue_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The get issue cout.",
                      "title": "Get Issue Count"
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        }
                      },
                      "title": "Image"
                    },
                    "image_url": {
                      "type": "string",
                      "description": "The image URL.",
                      "title": "Image URL"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "enable_blockchain": {
                          "type": "boolean",
                          "description": "Whether blockchain enabled.",
                          "title": "Enable Blockchain"
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        },
                        "vanity_url": {
                          "type": "string",
                          "description": "The vanity URL.",
                          "title": "Vanity URL"
                        },
                        "vanity_slug": {
                          "type": "string",
                          "description": "The vanity slug.",
                          "title": "Vanity Slug"
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "Whether verified.",
                          "title": "Verified"
                        },
                        "viewable": {
                          "type": "boolean",
                          "description": "Whether viewable.",
                          "title": "Viewable"
                        }
                      },
                      "title": "Owner"
                    },
                    "alignments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          }
                        }
                      },
                      "title": "Alignments"
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "activity_url": {
                            "type": "string",
                            "description": "The activity URL.",
                            "title": "Activity URL"
                          }
                        }
                      },
                      "title": "Recommendations"
                    },
                    "required_badge_templates": {
                      "type": "array",
                      "items": {},
                      "description": "The required badge templates.",
                      "title": "Required Badge Templates"
                    },
                    "badge_template_activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "activity_type": {
                            "type": "string",
                            "description": "The activity type.",
                            "title": "Activity Type"
                          },
                          "activity_url": {
                            "type": "string",
                            "description": "The activity URL.",
                            "title": "Activity URL"
                          },
                          "required_badge_template_id": {
                            "type": "string",
                            "description": "The required badge template ID.",
                            "title": "Required Badge Template ID"
                          }
                        }
                      },
                      "title": "Badge Template Activities"
                    },
                    "skills": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Skills"
                    },
                    "reporting_tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Reporting Tags"
                    },
                    "recommending_templates": {
                      "type": "array",
                      "items": {},
                      "title": "Recommending Templates"
                    },
                    "criterion_for": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Criterion For"
                    }
                  },
                  "title": "Data"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Get a single badge template",
        "description": "Get a single badge template from an organization.",
        "operationId": "BadgeTemplateGetA",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "x-ms-summary": "Organization ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the organization.",
            "required": true,
            "type": "string"
          },
          {
            "name": "badge_template_id",
            "in": "path",
            "x-ms-summary": "Badge Template ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the badge template.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/organizations/{organization_id}/badges": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "middle_name": {
                            "type": "string",
                            "description": "The middle name.",
                            "title": "Middle Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "current_position_name": {
                            "type": "string",
                            "description": "The name of current position.",
                            "title": "Current Position Name"
                          },
                          "current_organization_name": {
                            "type": "string",
                            "description": "The name of current organization.",
                            "title": "Current Organization Name"
                          },
                          "confirmed": {
                            "type": "boolean",
                            "description": "Whether confirmed.",
                            "title": "Confirmed"
                          },
                          "photo": {
                            "type": "object",
                            "description": "The photo.",
                            "title": "Photo"
                          },
                          "photo_url": {
                            "type": "string",
                            "description": "The photo URL.",
                            "title": "Photo URL"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        },
                        "title": "User"
                      },
                      "created_by": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "vanity_url": {
                            "type": "string",
                            "description": "The vanity URL.",
                            "title": "Vanity URL"
                          },
                          "share_to_ziprecruiter": {
                            "type": "boolean",
                            "description": "Whether to share to ZipRecruiter.",
                            "title": "Share To ZipRecruiter"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "Whether verified.",
                            "title": "Verified"
                          }
                        },
                        "title": "Created By"
                      },
                      "issuer": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "string",
                            "description": "The summary.",
                            "title": "Summary"
                          },
                          "entities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "The label.",
                                  "title": "Label"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "description": "Whether primary.",
                                  "title": "Primary"
                                },
                                "entity": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "The URL.",
                                      "title": "URL"
                                    },
                                    "vanity_url": {
                                      "type": "string",
                                      "description": "The vanity URL.",
                                      "title": "Vanity URL"
                                    },
                                    "share_to_ziprecruiter": {
                                      "type": "boolean",
                                      "description": "Whether to share to ZipRecruiter.",
                                      "title": "Share To ZipRecruiter"
                                    },
                                    "verified": {
                                      "type": "boolean",
                                      "description": "Whether verified.",
                                      "title": "Verified"
                                    }
                                  },
                                  "title": "Entity"
                                }
                              }
                            },
                            "title": "Entities"
                          }
                        },
                        "title": "Issuer"
                      },
                      "printing_enabled": {
                        "type": "boolean",
                        "description": "Whether printing is enabled.",
                        "title": "Printing Enabled"
                      },
                      "print_method": {
                        "type": "string",
                        "description": "The print method.",
                        "title": "Print Method"
                      },
                      "badge_template": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "allow_duplicate_badges": {
                            "type": "boolean",
                            "description": "Whether to allow duplicate badges.",
                            "title": "Allow Duplicate Badges"
                          },
                          "cost": {
                            "type": "string",
                            "description": "The cost.",
                            "title": "Cost"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "global_activity_url": {
                            "type": "string",
                            "description": "The global activity URL.",
                            "title": "Global Activity URL"
                          },
                          "level": {
                            "type": "string",
                            "description": "The level.",
                            "title": "Level"
                          },
                          "lock_badge_state": {
                            "type": "boolean",
                            "description": "Whether the badge state is locked.",
                            "title": "Lock Badge State"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "public": {
                            "type": "boolean",
                            "description": "Whether public.",
                            "title": "Public"
                          },
                          "badges_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The badge count.",
                            "title": "Badges Count"
                          },
                          "recipient_type": {
                            "type": "string",
                            "description": "The recipient type.",
                            "title": "Recipient Type"
                          },
                          "send_expiring_badge_notifications": {
                            "type": "boolean",
                            "description": "Whether to send expiring badge notifications.",
                            "title": "Send Expiring Badge Notifications"
                          },
                          "show_badge_lmi": {
                            "type": "boolean",
                            "description": "Whether to show badge LMI.",
                            "title": "Show Badge LMI"
                          },
                          "show_lmi_jobs": {
                            "type": "boolean",
                            "description": "Whether to show LMI jobs.",
                            "title": "Show LMI Jobs"
                          },
                          "show_skill_tag_links": {
                            "type": "boolean",
                            "description": "Whether to show skill tag links.",
                            "title": "Show Skill Tag Links"
                          },
                          "vanity_slug": {
                            "type": "string",
                            "description": "The vanity slug.",
                            "title": "Vanity Slug"
                          },
                          "record_to_blockchain": {
                            "type": "string",
                            "description": "The record to blockchain.",
                            "title": "Record To Blockchain"
                          },
                          "time_to_earn": {
                            "type": "string",
                            "description": "The time to earn.",
                            "title": "Time To Earn"
                          },
                          "type_category": {
                            "type": "string",
                            "description": "The category type.",
                            "title": "Type Category"
                          },
                          "printing_disabled": {
                            "type": "boolean",
                            "description": "Whether printing is disabled.",
                            "title": "Printing Disabled"
                          },
                          "visibility": {
                            "type": "string",
                            "description": "The visibility.",
                            "title": "Visibility"
                          },
                          "criteria_url_name": {
                            "type": "string",
                            "description": "The criteria URL name.",
                            "title": "Criteria URL Name"
                          },
                          "criteria_url": {
                            "type": "string",
                            "description": "The criteria URL.",
                            "title": "Criteria URL"
                          },
                          "certification": {
                            "type": "boolean",
                            "description": "Whether certification.",
                            "title": "Certification"
                          },
                          "state_updated_at": {
                            "type": "string",
                            "description": "The state updated at.",
                            "title": "State Updated At"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          },
                          "show_template_settings": {
                            "type": "boolean",
                            "description": "Whether to show template settings.",
                            "title": "Show Template Settings"
                          },
                          "get_issue_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The get issue count.",
                            "title": "Get Issue Count"
                          },
                          "image": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Image"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "The image URL.",
                            "title": "Image URL"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "enable_blockchain": {
                                "type": "boolean",
                                "description": "Whether to enable blockchain.",
                                "title": "Enable Blockchain"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              },
                              "vanity_url": {
                                "type": "string",
                                "description": "The vanity URL.",
                                "title": "Vanity URL"
                              },
                              "vanity_slug": {
                                "type": "string",
                                "description": "The vanity slug.",
                                "title": "Vanity Slug"
                              },
                              "verified": {
                                "type": "boolean",
                                "description": "Whether verified.",
                                "title": "Verified"
                              },
                              "viewable": {
                                "type": "boolean",
                                "description": "Whether viewable.",
                                "title": "Viewable"
                              }
                            },
                            "title": "Owner"
                          },
                          "alignments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier.",
                                  "title": "ID"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL address.",
                                  "title": "URL"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The description.",
                                  "title": "Description"
                                }
                              }
                            },
                            "title": "Alignments"
                          },
                          "recommendations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier.",
                                  "title": "ID"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "The type.",
                                  "title": "Type"
                                },
                                "activity_url": {
                                  "type": "string",
                                  "description": "The URL of the activity.",
                                  "title": "Activity URL"
                                }
                              }
                            },
                            "title": "Recommendations"
                          },
                          "required_badge_templates": {
                            "type": "array",
                            "items": {},
                            "description": "The required badge templates.",
                            "title": "Required Badge Templates"
                          },
                          "badge_template_activities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier.",
                                  "title": "ID"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "activity_type": {
                                  "type": "string",
                                  "description": "The type of activity.",
                                  "title": "Activity Type"
                                },
                                "activity_url": {
                                  "type": "string",
                                  "description": "The URL of the activity.",
                                  "title": "Activity URL"
                                },
                                "required_badge_template_id": {
                                  "type": "string",
                                  "description": "The required badge template ID.",
                                  "title": "Required Badge Template ID"
                                }
                              }
                            },
                            "title": "Badge Template Activities"
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The skills.",
                            "title": "Skills"
                          }
                        },
                        "title": "Badge Template"
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "issued_to": {
                        "type": "string",
                        "description": "Who issued to.",
                        "title": "Issued To"
                      },
                      "issued_to_first_name": {
                        "type": "string",
                        "description": "The issued to first name.",
                        "title": "Issued To First Name"
                      },
                      "issued_to_middle_name": {
                        "type": "string",
                        "description": "The issued to middle name.",
                        "title": "Issued To Middle Name"
                      },
                      "issued_to_last_name": {
                        "type": "string",
                        "description": "The issued to last name.",
                        "title": "Issued To Last Name"
                      },
                      "issuer_earner_id": {
                        "type": "string",
                        "description": "The issuer earned ID.",
                        "title": "Issuer Earner ID"
                      },
                      "locale": {
                        "type": "string",
                        "description": "The locale.",
                        "title": "Locale"
                      },
                      "public": {
                        "type": "boolean",
                        "description": "Whether public.",
                        "title": "Public"
                      },
                      "recipient_email": {
                        "type": "string",
                        "description": "The recipient's email address.",
                        "title": "Recipient Email"
                      },
                      "replacement_badge_id": {
                        "type": "string",
                        "description": "The replacement badge ID.",
                        "title": "Replacement Badge ID"
                      },
                      "replaces_badge_id": {
                        "type": "string",
                        "description": "The replaces badge ID.",
                        "title": "Replaces Badge ID"
                      },
                      "revocation_reason": {
                        "type": "string",
                        "description": "The revocation reason..",
                        "title": "Revocation Reason"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "suppress_badge_notification_email": {
                        "type": "boolean",
                        "description": "Whether to supress badge notification emails.",
                        "title": "Suppress Badge Notification Email"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "state_or_province": {
                        "type": "string",
                        "description": "The state or province.",
                        "title": "State Or Province"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "expires_at": {
                        "type": "string",
                        "description": "Where expires at.",
                        "title": "Expires At"
                      },
                      "expires_at_date": {
                        "type": "string",
                        "description": "The expires at date.",
                        "title": "Expires At Date"
                      },
                      "issued_at": {
                        "type": "string",
                        "description": "Where issued at.",
                        "title": "Issued At"
                      },
                      "issued_at_date": {
                        "type": "string",
                        "description": "The issued at date.",
                        "title": "Issued At Date"
                      },
                      "state_updated_at": {
                        "type": "string",
                        "description": "The state updated at.",
                        "title": "State Updated At"
                      },
                      "is_private_badge": {
                        "type": "boolean",
                        "description": "Whether is a private badge.",
                        "title": "Is Private Badge"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        },
                        "title": "Image"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "The image URL address.",
                        "title": "Image URL"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "title": {
                              "type": "string",
                              "description": "The description.",
                              "title": "Description"
                            }
                          }
                        },
                        "title": "Alignments"
                      },
                      "evidence": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "title": {
                              "type": "string",
                              "description": "The description.",
                              "title": "Description"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            }
                          }
                        },
                        "title": "Evidence"
                      },
                      "badge_url": {
                        "type": "string",
                        "description": "The badge URL.",
                        "title": "Badge URL"
                      }
                    }
                  },
                  "title": "Data"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total count.",
                      "title": "Total Count"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total pages.",
                      "title": "Total Pages"
                    },
                    "per": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Per.",
                      "title": "Per"
                    },
                    "previous_page_url": {
                      "type": "string",
                      "description": "The URL of the previous page.",
                      "title": "Previous Page URL"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The URL of the next page.",
                      "title": "Next Page URL"
                    }
                  },
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Get issued badges",
        "description": "Get all issued badges for an organization.",
        "operationId": "BadgeIssued",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "x-ms-summary": "Organization ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the organization.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {},
                      "description": "The user.",
                      "title": "User"
                    },
                    "created_by": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        },
                        "vanity_url": {
                          "type": "string",
                          "description": "The vanity URL.",
                          "title": "Vanity URL"
                        },
                        "share_to_ziprecruiter": {
                          "type": "boolean",
                          "description": "Whether to share to ZipRecruiter.",
                          "title": "Share To ZipRecruiter"
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "Whether verified.",
                          "title": "Verified"
                        }
                      },
                      "title": "Created By"
                    },
                    "issuer": {
                      "type": "object",
                      "properties": {
                        "summary": {
                          "type": "string",
                          "description": "The summary.",
                          "title": "Summary"
                        },
                        "entities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "description": "The label.",
                                "title": "Label"
                              },
                              "primary": {
                                "type": "boolean",
                                "description": "Whether primary.",
                                "title": "Primary"
                              },
                              "entity": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "The type.",
                                    "title": "Type"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The unique identifier.",
                                    "title": "ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name.",
                                    "title": "Name"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "The URL address.",
                                    "title": "URL"
                                  },
                                  "vanity_url": {
                                    "type": "string",
                                    "description": "The vanity URL.",
                                    "title": "Vanity URL"
                                  },
                                  "share_to_ziprecruiter": {
                                    "type": "boolean",
                                    "description": "Whether to share to ZipRecruiter.",
                                    "title": "Share To ZipRecruiter"
                                  },
                                  "verified": {
                                    "type": "boolean",
                                    "description": "Whether verified.",
                                    "title": "Verified"
                                  }
                                },
                                "title": "Entity"
                              }
                            }
                          },
                          "title": "Entities"
                        }
                      },
                      "title": "Issuer"
                    },
                    "printing_enabled": {
                      "type": "boolean",
                      "description": "Whether printing is enabled.",
                      "title": "Printing Enabled"
                    },
                    "print_method": {
                      "type": "string",
                      "description": "The print method.",
                      "title": "Print Method"
                    },
                    "badge_template": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "allow_duplicate_badges": {
                          "type": "boolean",
                          "description": "Whether to allow duplicate badges.",
                          "title": "Allow Duplicate Badges"
                        },
                        "cost": {
                          "type": "string",
                          "description": "The cost.",
                          "title": "Cost"
                        },
                        "title": {
                          "type": "string",
                          "description": "The description.",
                          "title": "Description"
                        },
                        "global_activity_url": {
                          "type": "string",
                          "description": "The global activity URL.",
                          "title": "Global Activity URL"
                        },
                        "level": {
                          "type": "string",
                          "description": "The level.",
                          "title": "Level"
                        },
                        "lock_badge_state": {
                          "type": "boolean",
                          "description": "The lock badge state.",
                          "title": "Lock Badge State"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "public": {
                          "type": "boolean",
                          "description": "Whether public.",
                          "title": "Public"
                        },
                        "badges_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The badge count.",
                          "title": "Badges Count"
                        },
                        "recipient_type": {
                          "type": "string",
                          "description": "The recipient type.",
                          "title": "Recipient Type"
                        },
                        "send_expiring_badge_notifications": {
                          "type": "boolean",
                          "description": "Whether to send expiring badge notifications.",
                          "title": "Send Expiring Badge Notifications"
                        },
                        "show_badge_lmi": {
                          "type": "boolean",
                          "description": "Whether to show the badge LMI.",
                          "title": "Show Badge LMI"
                        },
                        "show_lmi_jobs": {
                          "type": "boolean",
                          "description": "Whether to show LMI jobs.",
                          "title": "Show LMI Jobs"
                        },
                        "show_skill_tag_links": {
                          "type": "boolean",
                          "description": "Whether to show skill tag links.",
                          "title": "Show Skill Tag Links"
                        },
                        "vanity_slug": {
                          "type": "string",
                          "description": "The vanity slug.",
                          "title": "Vanity Slug"
                        },
                        "record_to_blockchain": {
                          "type": "string",
                          "description": "The record to blockchain.",
                          "title": "Record To Blockchain"
                        },
                        "time_to_earn": {
                          "type": "string",
                          "description": "The time to earn.",
                          "title": "Time To Earn"
                        },
                        "type_category": {
                          "type": "string",
                          "description": "The type category.",
                          "title": "Type Category"
                        },
                        "printing_disabled": {
                          "type": "boolean",
                          "description": "Whether printing is disabled.",
                          "title": "Printing Disabled"
                        },
                        "visibility": {
                          "type": "string",
                          "description": "The visibility.",
                          "title": "Visibility"
                        },
                        "criteria_url_name": {
                          "type": "string",
                          "description": "The criteria URL name.",
                          "title": "Criteria URL Name"
                        },
                        "criteria_url": {
                          "type": "string",
                          "description": "The criteria URL.",
                          "title": "Criteria URL"
                        },
                        "certification": {
                          "type": "boolean",
                          "description": "Whether certification.",
                          "title": "Certification"
                        },
                        "state_updated_at": {
                          "type": "string",
                          "description": "The state when updated at.",
                          "title": "State Updated At"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "When created at.",
                          "title": "Created At"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "When updated at.",
                          "title": "Updated At"
                        },
                        "show_template_settings": {
                          "type": "boolean",
                          "description": "Whether to show template settings.",
                          "title": "Show Template Settings"
                        },
                        "get_issue_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The get issue count.",
                          "title": "Get Issue Count"
                        },
                        "image": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            }
                          },
                          "title": "Image"
                        },
                        "image_url": {
                          "type": "string",
                          "description": "The image URL.",
                          "title": "Image URL"
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        },
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "enable_blockchain": {
                              "type": "boolean",
                              "description": "Whether to enable blockchain.",
                              "title": "Enable Blockchain"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            },
                            "vanity_url": {
                              "type": "string",
                              "description": "The vanity URL.",
                              "title": "Vanity URL"
                            },
                            "vanity_slug": {
                              "type": "string",
                              "description": "The vanity slug.",
                              "title": "Vanity Slug"
                            },
                            "verified": {
                              "type": "boolean",
                              "description": "Whether verified.",
                              "title": "Verified"
                            },
                            "viewable": {
                              "type": "boolean",
                              "description": "Whether viewable.",
                              "title": "Viewable"
                            }
                          },
                          "title": "Owner"
                        },
                        "alignments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description.",
                                "title": "Description"
                              }
                            }
                          },
                          "title": "Alignments"
                        },
                        "recommendations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "title": {
                                "type": "string",
                                "description": "The title.",
                                "title": "Title"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "activity_url": {
                                "type": "string",
                                "description": "The activity URL.",
                                "title": "Activity URL"
                              }
                            }
                          },
                          "title": "Recommendations"
                        },
                        "required_badge_templates": {
                          "type": "array",
                          "items": {},
                          "description": "The required badge templates.",
                          "title": "Required Badge Templates"
                        },
                        "badge_template_activities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "title": {
                                "type": "string",
                                "description": "The title.",
                                "title": "Title"
                              },
                              "activity_type": {
                                "type": "string",
                                "description": "The activity type.",
                                "title": "Activity Type"
                              },
                              "activity_url": {
                                "type": "string",
                                "description": "The activity URL.",
                                "title": "Activity URL"
                              },
                              "required_badge_template_id": {
                                "type": "string",
                                "description": "The required badge template ID.",
                                "title": "Required Badge Template ID"
                              }
                            }
                          },
                          "title": "Badge Template Activities"
                        },
                        "skills": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The skills.",
                          "title": "Skills"
                        }
                      },
                      "title": "Badge Template"
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "issued_to": {
                      "type": "string",
                      "description": "Who issued to.",
                      "title": "Issued To"
                    },
                    "issued_to_first_name": {
                      "type": "string",
                      "description": "The issued to first name.",
                      "title": "Issued To First Name"
                    },
                    "issued_to_middle_name": {
                      "type": "string",
                      "description": "The issued to middle name.",
                      "title": "Issued To Middle Name"
                    },
                    "issued_to_last_name": {
                      "type": "string",
                      "description": "The issued to last name.",
                      "title": "Issued To Last Name"
                    },
                    "issuer_earner_id": {
                      "type": "string",
                      "description": "The issuer earner ID.",
                      "title": "Issuer Earner ID"
                    },
                    "locale": {
                      "type": "string",
                      "description": "The locale.",
                      "title": "Locale"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "Whether public.",
                      "title": "Public"
                    },
                    "recipient_email": {
                      "type": "string",
                      "description": "The recipient's email address.",
                      "title": "Recipient Email"
                    },
                    "replacement_badge_id": {
                      "type": "string",
                      "description": "The replacement badge ID.",
                      "title": "Replacement Badge ID"
                    },
                    "replaces_badge_id": {
                      "type": "string",
                      "description": "The replaces badge ID.",
                      "title": "Replaces Badge ID"
                    },
                    "revocation_reason": {
                      "type": "string",
                      "description": "The revocation reason.",
                      "title": "Revocation Reason"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "suppress_badge_notification_email": {
                      "type": "boolean",
                      "description": "Whether to suppress badge notification emails.",
                      "title": "Suppress Badge Notification Email"
                    },
                    "updated_at": {
                      "type": "string",
[...]
